@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-image: url("http://localhost/complexidade/public/images/splash.png");
  background-color: #57033b;
}

* {
  margin: 0;
  padding: 0;
}

.aBtn{
  text-decoration: none;
}


.btn-primary{
  color:#fff;background-color:#57033B;
  border-color:#57033B
  }.btn-primary:hover{
  color:#fff;background-color:#57033B;
  border-color:#57033B
}.btn-primary.focus,.btn-primary:focus{
  box-shadow:0 0 0 .2rem rgba(38,143,255,.5)
}.btn-primary.disabled,.btn-primary:disabled{
  color:#fff;background-color:#57033B;border-color:#57033B
}.btn-primary:not(:disabled):not(.disabled)
.active,.btn-primary:not(:disabled):not(.disabled):active,.show>
.btn-primary.dropdown-toggle{color:#fff;background-color:#57033B;
  border-color:#57033B}.btn-primary:not(:disabled):not(.disabled).
  active:focus,.btn-primary:not(:disabled):not(.disabled):active:focus,.show>.
  btn-primary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(38,143,255,.5)}

.bg-primary{
  background-color: #57033B!important;
}

.table-stack{
  top: -100px;
}

section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 536px;
  margin: auto;
  position: relative;
}

section:before {
  content: "";
  position: absolute;
  background-size: 100%;
  width: 100%;
  height: 402px;
  z-index: -1;
}

.logo {
  width: 200px;
  height: 33px;
  background-size: 100%;
  margin-bottom: 35px;
  opacity: 0;
  animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 1.3s forwards;
}

.logo h1{
  margin-top: -60px;
  margin-left: 23px;
  margin-bottom: 35px;
  font-size: 70px;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title {
  margin-top: -50px;
  width: 390px;
  height: 36px;
  background-size: 100%;
  opacity: 0;
  animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 0.2s forwards;
}

.title h1{
  margin-left: 20px;
  color: white;
  font-size: 30px;
  font-weight: bolder;
}

.subtitle {
  margin-top: 5px;
  margin-left: -17px;
  color: #BDB3CB;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.5;
  
  opacity: 0;
  animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 0.5s forwards;
}

.btn-home{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  color: #57033b;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: underline;
}

p {
  margin: 0.83rem 0;
}

@keyframes slideUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  50% {
    opacity: 0.2%;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

#home-btn{
  text-decoration: none;
  color: #57033b;
  background-color: #fff;
  border: none;
  font-weight: bold;
}